.contact-page{
  section.get-in-touch{
    padding: 3rem 0 ;
    .container{
      background-color: #f9f8f8;
      .row {
        display: flex;
        flex-direction: column;
        align-items : center;
        picture{
          margin-bottom: 1.25rem;
          img {
            width: 36px;
          }
        }
        .heading{
          font-size: 2.5rem;
          margin-bottom: .5rem;
        }
        .subheading{
          color : #6c7b7d;
          font-size: 1.25rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }
}